.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.fromWrapper{
  background-color: #282a36;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

.homePageLogo{
  height: 80px;
  margin-bottom: 30px;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputBox{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 14px;
  background-color: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background-color: #4aee88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover{
  background-color: #2b824c;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn, footer a{
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color: #2b824c;
  border-color: #2b824c;
}

footer{
  position: fixed;
  bottom: 0;
}