*{
  box-sizing: border-box;
}

.App{
  font-family: sans-serif;
}

.image-listing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-listing > div{
  flex: 1 33%;
  width: 33%;
  padding: 5px;
  cursor: pointer;
}

.image-listing > div img{
  width: 100%;
  border: 3px solid gray;
}

.image-listing > div.active img{
  border-color:skyblue;
}